/node_modules
/public/hot
/public/storage
/public/banners
/public/banners_images
/public/cover_images
/public/gallery
/public/logos
/public/pdf_files
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
composer.lock

